#sru_client-results .preview {
	display: none;
}

#sb-content.html {
	padding-top: 5px;
	background-color: white;
}

#sb-content.html .property {
	clear:both;
	float:left;
	position:relative;
	width:80%;
	margin-bottom:1px;
	margin-left:10px;
}

#sb-content.html .property #data_link {
	text-transform: none;	
}	

#sb-content.html .property .label {
	float:left;
	width: 30%;
	text-transform: capitalize;
	font-weight: bold;
}

#sb-content.html .property .data {
	float:left;
	width: 70%;
	text-transform: capitalize;
	text-align: justify;
}

#sru_client-results .row .display {
	clear:both;
	float:left;
	position:relative;
	width:100%;
	margin-bottom:5px;
}

#sru_client-results .row .display .title { 
	float: left; 
	position; relative; 
	font-weight: bold;
	text-transform: capitalize;
}

#sru_client-results {
	clear: both; 
	/* optional depends your theme */
	display: table;
	}

#sru_client-results #number_rows {
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: bold;
	text-transform: capitalize;
	text-align: center;
}

#sru_client-results .row .display .view_row { clear:left; float: right; position; relative}
#sru_client-results .row .display .add_row { float: right; position; relative} 

iframe#sb-content { background-color: white;}